

main{
    width: 100%;
    display: flex;
    flex-direction: column;
}

body{
    background-color: #111B21;
}


*{
    padding: 0%;
    margin: 0%;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Varela Round', sans-serif;
    /* outline: 1px solid red; */
}


input, a:focus{
    outline: none;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    max-width: 800px;
    column-gap: 100px;
    padding: 20px;
}

nav ul li a{
    text-decoration: none;
    color: #CBCBCB;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    padding: 10px;

}

nav{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #1A2227;
    padding-top: 50px;
}

.active{
    border-bottom: 2px solid #00A884;
}

.inside{
    padding: 30px;
}

.cont{
    max-width: 1020px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#CreateNewTodo{
    padding: 10px;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #CBCBCB;
    display: block;
    align-self: flex-end;
}

.todoitems{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
    margin-top: 30px;
    padding-bottom: 90px;
    position: relative;
}

#modal{
    display: flex;
    flex-direction: column;
    background-color: #1A2227;
    width: 500px;
    display: none;
    position: absolute;
    top: -20%;
    margin: auto;
    border: none;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
    padding: 5px;
    box-sizing: border-box;
    padding-right: 10px;
}   

#modal p{
    color: white;
    margin: 10px 10px;
    display: flex;
    justify-content: space-between;
}

#modal input{
    padding: 10px;
    margin: 3px;
    padding-left: 20px;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: #111B21;
    color: #CBCBCB;
    border-radius: 7px;
    outline: none;
    width: 100%;
    box-sizing:border-box;
}

#modal button{
    padding: 10px;
    font-size: 20px;
    margin-top: 5px;
    border: none;
    outline: none;
    background-color: #00A884;
    color: #CBCBCB;
    border-radius: 7px;
    outline: none;
    width: 100% ;
}

.todoitem{
    padding: 30px;
    width: 93%;
    font-size: 20px;
    color: #CBCBCB;
    background-color: #1A2227;
    border-radius: 7px;
    white-space: break-spaces;
    display: grid;
    grid-template-columns: 80% 10% auto auto auto;
    justify-content: space-between;
    text-transform: capitalize;
    align-items: center;
    position: relative;
}
.wide{
    position: fixed;
    bottom: 10px;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background: none;
    /* pointer-events: none; */
}



.accentcolor{
    width: 35px;
    height: 35px;
    border-radius: 7px;
    background-color: #00A884;
}



.time{
    display: inline-flex;
    align-items: center;
    text-align: center;
    font-size: 15px;
}

#colorbox{
    display: inline-flex;
    column-gap: 5px;
    padding: 5px;
    border-radius: 10px;
    background-color: #232c31;

}


/* width */
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #5d6469; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #1A2227; 
  }

  .todoitem::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(121, 118, 118, 0.568);
    z-index: -1;
    left: 0;
    top: 0;
    transform: scaleX(0);
    transition: 0.3s;
    transform-origin: left;
    border-radius: 7px; 
    
}

.alarmInputs{
    display: none;
    justify-content: space-between;    
    background-color: #1A2227;
    border-radius: 10px;
}

.alarmInputs input{
    display: inline-block;
    width: 25%;
    color: red ; 
}


.todoitem p{
    overflow-x: scroll;
}

#modal::backdrop{
    background-color: rgba(17, 27, 33, 0.9);
}

.progressbar{
    width: 100%;
    height: 10px;
    position: absolute;
    top: 90%;
    left: 0;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
}
@media screen and (max-width : 800px){

    ::-webkit-scrollbar {
        width: 1px;
        height: 0px;
      }
    .todoitem p{
        overflow-x: scroll;
    
    }

    ul{
        max-width: 800px;
        column-gap: 10px;
        padding: 20px;
    }
    
    #modal input{
        width: 88% ;
    }
    
    #modal button{
        width: 94% ;
    }
    
    nav{
        padding-top: 0px;
    }

    
    .cont{
    max-width: 1020px;
    margin: auto;
    display: flex;
    flex-direction: column;
    }   

    .inside{
        padding: 0px;
    }

    .todoitem{
        grid-template-columns: 68% 17% auto auto auto;
        column-gap: 2px;

    }

    #modal input{
        padding: 10px;
        padding-left: 10px;
        font-size: 20px;
        margin: 10px;
        border: none;
        outline: none;
        background-color: #111B21;
        color: #CBCBCB;
        border-radius: 7px;
        outline: none;
        width: 88% ;
    }

    .time{
        font-size: 13px;
    }

    .todoitem{
        font-size: 13px;
    }
}
